$pu: #4E5283;
$pi: #E5B2CA;

.header{
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4em;
    background-color: white;
    background-size: cover;
    border-bottom: .1rem solid $pu;

    .logo-container{
        width: 20%;
        padding-left: 20px;

        .logo{
            width: 80%;
            height: auto;
        }

        h2{
            color: $pu;
        }
    }

    nav{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 2em;

        .item{
            margin: 20px;
            color: $pu;

            .app-btn{
                color: white;
                border: none;
                display: block;
                text-align: center;
                cursor: pointer;
                outline: none;
                overflow: hidden;
                position: relative;
                background-color: $pi;
                border-radius: 5px;
                padding: 5px 10px;
                font-weight: 700;
                cursor: pointer;

                &:hover{
                    opacity: 70%;
                    transition: .3s;
                }
            }

            &:hover{
                color: $pi;
                transition: .3s;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .header{
        padding: 0 0.5em;

        nav{
            margin-right: 0;
        }
    }
}