@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    font-family: 'Lato';
    overflow: hidden;
}

a{
    text-decoration: none;
    color: white;
}

/* .slide-enter,
.slide-exit {
    transition: all 1000ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.slide-enter {
  transform: translateY(100%);
}

.slide-enter.slide-enter-active {
  transform: translateY(0%);
}

.slide-exit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(0%);
}

.slide-exit-active {
  transform: translateY(-100%);
} */
